body{
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
}

.top-container{
  position: relative;
  background-color: #fcecdd;
  padding-top: 100px;
  padding-bottom: 100px;

}
.top-content{
  width: 40%;
  margin: auto;
  text-align: center;
}
.mid-container{
  position: relative;
  width: 40%;
  margin: auto;
  text-align: center;

}
.bottom-container{
  background-color: #ff6701;

}
.contact-us{
  color: #fcecdd;
}
.bottom-content{
  width: 40%;
  margin: auto;
  padding: 10px 0 10px;
  text-align: center;

}
.taco-pic{
  width: 55%;
}
.contact-p{
  font-family: 'Montserrat', sans-serif;
  color: #fcecdd;
  margin: 10px 20px;

}

p{
  line-height: 2;
  font-family: 'Merriweather', serif;
}
a{
  font-family: 'Montserrat', sans-serif;
  color: #fcecdd;
  margin: 10px 20px;
  text-decoration: none;
}


h1{
  color: #fea82f;
  font-family: 'Sacramento', cursive;
  font-size: 4.5rem;
}
h2{
  color: #ff6701;
  font-family: 'Montserrat', sans-serif
}
h3{
  font-family: 'Montserrat', sans-serif;
}
img{
  width: 20%;
}
